.container {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.count {
    background-color: #1e1e1e;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    padding: 2px 12px;
}

.button {
    background-color: #1e1e1e;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    line-height: 0;
    padding: 4.5px;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
